.header{
  height: 70px;
  padding: 10px;
  font-weight: bold;
  background-color: #2874f0;
}
.nav>.btn{
  position: relative;
  font-weight: bold;
  margin-right: 10px;
}
.nav>.nav-item>.btn{
  position: relative;
  font-weight: bold;
  margin-right: 10px;
}
.selected-btn{
  font-weight: bold;
}
.selected-btn-home::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 5px;
  width: 60px;
  height: 2px;
  background-color: rgb(0, 0, 0);
  animation: home-slide 0.5s 1 linear;
}
@keyframes home-slide {
  0%{
    width: 0px;
  }
  25%{
    width: 20px;
  }
  50%{
    width: 35px;
  }
  75%{
    width: 50px;
  }
  100%{
    width: 60px;
  }

}
.selected-btn-cart::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 7px;
  width: 80px;
  height: 2px;
  background-color: rgb(0, 0, 0);

  animation: cart-slide 0.5s 1 linear;
}
@keyframes cart-slide {
  0%{
    width: 0px;
  }
  25%{
    width: 20px;
  }
  50%{
    width: 45px;
  }
  75%{
    width: 60px;
  }
  100%{
    width: 80px;
  }

}
.selected-btn-product::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 5px;
  width: 80px;
  height: 2px;
  background-color: rgb(0, 0, 0);

  animation: product-slide 0.5s 1 linear;
}
@keyframes product-slide {
  0%{
    width: 0px;
  }
  25%{
    width: 20px;
  }
  50%{
    width: 45px;
  }
  75%{
    width: 60px;
  }
  100%{
    width: 80px;
  }

}
.selected-btn-add::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 5px;
  width: 110px;
  height: 2px;
  background-color: rgb(0, 0, 0);
  animation: add-slide 0.5s 1 linear;
}
.selected-btn-about::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 5px;
  width: 60px;
  height: 2px;
  background-color: rgb(0, 0, 0);
  animation: about-slide 0.5s 1 linear;
}
@keyframes add-slide {
  0%{
    width: 0px;
  }
  25%{
    width: 30px;
  }
  50%{
    width: 65px;
  }
  75%{
    width: 90px;
  }
  100%{
    width: 110px;
  }

}
@keyframes about-slide {
  0%{
    width: 0px;
  }
  25%{
    width: 20px;
  }
  50%{
    width: 35px;
  }
  75%{
    width: 50px;
  }
  100%{
    width: 60px;
  }

}
