<div class="d-flex">
  <div class="men-card">
    <img
      src="https://th.bing.com/th/id/OIP.5SLpVsu2jCosoz2Npsrr6QHaHa?w=197&h=197&c=7&r=0&o=5&dpr=1.1&pid=1.7"
      alt=""
    />
    <div
      class="d-flex flex-column align-items-start justify-content-between p-4"
    >
      <div>
        <h1>Collection for Boys</h1>
        <p>Unlimited offers best brand quality</p>
      </div>
      <div class="d-flex w-100 justify-content-end">
        <button
          class="btn btn-light"
          [routerLink]="['/header', { outlets: { 'outlet-home': 'products' } }]"
        >
          <u>View Products</u>
        </button>
      </div>
    </div>
  </div>
  <div class="women-card">
    <img
      src="https://th.bing.com/th/id/OIP.Mi80ExrH_X03c6mmPf3HUgHaHa?w=197&h=197&c=7&r=0&o=5&dpr=1.1&pid=1.7"
      alt=""
    />
    <div
      class="d-flex flex-column align-items-start justify-content-between p-4"
    >
      <div>
        <h1>Collection for Girls</h1>
        <p>Unlimited offers best brand quality</p>
      </div>
      <div class="d-flex w-100 justify-content-end">
        <button
          class="btn btn-light"
          [routerLink]="['/header', { outlets: { 'outlet-home': 'products' } }]"
        >
          <u>View Products</u>
        </button>
      </div>
    </div>
  </div>
</div>
